.create-post-container {
   max-width: 600px;
   margin: 2rem auto;
   padding: 2rem;
   background: #ffffff;
   border-radius: 16px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-item {
   display: flex;
   flex-direction: column;
   margin-bottom: 0.5rem;
}

h2 {
   margin-top: 0;
}

label {
   margin-bottom: 0.5rem;
}

.create-type {
   display: flex;
   gap: 1rem;
}

.create-type button {
   width: 100%;
}

.rose-type.active {
   background-color: var(--rose-accent);
   border-color: var(--rose-strong);
   /* color: var(--rose-text); */
 }
 
 .thorn-type.active {
   background-color: var(--thorn-accent);
   border-color: var(--thorn-strong);
   /* color: var(--thorn-text); */
 }

input {
   width: auto;
   padding: 0.5rem;
   border-radius: 12px;
   border: 2px solid #e5e5e5;
}

textarea {
   width: 100%;
   height: 200px;
   margin-bottom: 1rem;
   border-radius: 12px;
   padding-top: 1rem;
   resize: vertical;
   font-size: 1rem;
   font-family: inherit;
   border: 2px solid #e5e5e5;
}

input:focus, textarea:focus {
   outline: none;
}

.create-post-form {
   display: flex;
   flex-direction: column;
}

.delete-button {
   background-color: var(--rose-strong);
   margin-bottom: 1rem;
}

.edit-button {
   background-color: var(--thorn-strong);
}