.post-card {
   border: 1px solid #ddd;
   border-radius: 12px;
   margin: 16px;
   /* background-color: var(--thorn-bg); */
   width: 20rem;
   height: 30rem;
}


.Rose {
  box-shadow: 0 2px 4px var(--rose-border);
}

.Thorn {
  box-shadow: 0 2px 4px var(--thorn-border);
}

.post-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}


.post-content {
   padding: 0.5rem;
 }

.post-content h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-card .user-info {
   display: flex;
   align-items: center;        /* vertically center icon + text */
   gap: 0.75rem;               /* space between icon and text */
   padding-left: 0.5rem;
   
 }
 
 .user-icon {
   font-size: 1.8rem;          /* adjust size */
   color: #666;                /* optional */
 }
 
 .user-header {
   display: flex;
   flex-direction: column;     /* username on top, type underneath */
   line-height: 1.2;
 }
 
 .user-header h3 {
   margin: 0;
   font-size: 1rem;
   font-weight: 600;
 }
 
 .user-header p {
   margin: 0;
   font-size: 0.85rem;              /* lighter secondary text */
 }

 .Thorn-header {
  background-color: var(--thorn-bg);
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  width:fit-content
 }

 .Rose-header {
  background-color: var(--rose-bg);
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  width: fit-content
 }

 .post-content h2 {
  margin: 0;
  font-size: 1.2rem;
 }

 .post-content p {
  margin: 0;
 }

 .post-footer {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  padding: 1rem;

 }

 .upvotes {
  background-color: var(--rose-accent);
  padding: 5px 10px;
  border-radius: 15px;
 }

 .upvotes:hover {
  cursor: pointer;
  background-color: pink;
 }

 .comments {
  background-color: var(--thorn-accent);
  padding: 5px 10px;
  border-radius: 15px;
 }

 .comments:hover {
  cursor: pointer;
  background-color: var(--thorn-bg);
 }

 .post-date {
  font-family: "Nunito", sans-serif;
 }


