#root {
  margin: 0 5rem;
  padding: 0rem 1rem;
  width: 100%;
  max-width: none;
}

.feed-container {
  display: flex;
  flex-direction: column;
}

.feed-header {
  display: flex;
  justify-content: space-between; /* aligns button with cards */
  margin-bottom: 1rem;
}

.input, textarea {
  border: 2px solid #e5e5e5
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.settings input {
  border: 2px solid #e5e5e5;
  font-family: "Gochi Hand";
}

.filter-bar, .sort-bar {
  display: flex;
  gap: 0.75rem;
}

.filter-bar button,
.sort-bar button {
  padding: 0.4rem 1rem;
  border-radius: 8px;
  border: 2px solid #e5e5e5;
  background: white;
  cursor: pointer;
  font-size: 0.9rem;
}

.create-post-button {
  background-color: var(--rose-strong);
}

.settings select {
  padding: 0.4rem 1rem;
  border-radius: 8px;
  border: 2px solid #e5e5e5;
  background: var(--bg-main);
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.2s ease;
  width: 10rem;
  font-family: "Gochi Hand";
}

/* When active */
.filter-bar button.rose-active {
  background: var(--rose-bg);  /* soft pastel red background */
  border-color: #d8aaaa;
  color: #8a4d4d;
}

.filter-bar button.thorn-active {
  background: var(--thorn-bg);  /* soft pastel green background */
  border-color: #aaddcc;
  color: #4d8a7a;
}

.filter-bar button.all-active {
  background: #f0f0f0;  /* light gray background */
  border-color: #bdbdbd;
  color: #6e6e6e;
}

/* Hover */
.sort-bar button:hover {
  background: #f6f6f6;
}


.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  border-radius: 1rem;
}

textarea {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
