#root {
  margin: 0 5rem;
  padding: 0rem 1rem;
  width: 100%;
  max-width: none;
}

.feed-container {
  display: flex;
  flex-direction: column;
}

.feed-header {
  margin-bottom: 2rem;
}

.input, textarea {
  border: 2px solid #e5e5e5
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.settings input {
  border: 2px solid #e5e5e5;
  font-family: "Gochi Hand";
}

.filter-bar, .sort-bar {
  display: flex;
  gap: 0.75rem;
}

.filter-bar button,
.sort-bar button {
  padding: 0.4rem 1rem;
  border-radius: 8px;
  border: 2px solid #e5e5e5;
  background: #fffef9;
  color: black;
  cursor: pointer;
  font-size: 0.9rem;
}

.create-post-button {
  padding: 0.75rem 1rem;
  background: var(--rose-accent);
  border: none;
  /* font-size: 1.1rem; */
  cursor: pointer;
  transition: 0.2s ease;
  display: flex;
  gap: 5px;
}

.create-post-button:hover {
  background: var(--rose-strong);
}

.settings select {
  padding: 0.4rem 1rem;
  border-radius: 8px;
  border: 2px solid #e5e5e5;
  background: var(--bg-main);
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.2s ease;
  width: 10rem;
  font-family: "Gochi Hand";
}

/* When active */
.filter-bar button.rose-active {
  background: var(--rose-bg);  /* soft pastel red background */
  border-color: #d8aaaa;
}

.filter-bar button.thorn-active {
  background: var(--thorn-bg);  /* soft pastel green background */
  border-color: #aaddcc;
}

.filter-bar button.all-active {
  background: #f0f0f0;  /* light gray background */
  border-color: #bdbdbd;
  color: #6e6e6e;
}

/* Hover */
.sort-bar button:hover {
  background: #f6f6f6;
}


.feed {
  column-count: 1;
  column-gap: 1.25rem;
}

/* Two columns on larger screens */
@media (min-width: 768px) {
  .feed {
    column-count: 2;
  }
}

/* slightly different tape rotation per card */
.post-card:nth-child(odd) .tape-left { transform: rotate(-10deg); }
.post-card:nth-child(even) .tape-left { transform: rotate(10deg); }

.post-card:nth-child(3n) .tape-right { transform: rotate(5deg); }

button {
  border-radius: 1rem;
}

textarea {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

@media (max-width: 700px) {
  .feed-header {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .settings {
    flex-direction: column;
    gap: 1rem;
  }

  .feed-header a {
    text-align: center;
  }

  .feed {
    gap: 1rem;
  }

}

